@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  /* no underline */
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 200px;
  line-height: 200px;
  color: #000000;
  letter-spacing: -5px;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  color: #303030;
  letter-spacing: 0px;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

h4 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  letter-spacing: 4px;
}

h5 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  letter-spacing: 0px;
}

h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #303030;
  letter-spacing: 3px;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  letter-spacing: 0px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.bg-image {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -10;
  width: 100vw;
  height: 100vh;
  background-image: url(/images/bg-night.png);
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .bg-image {
    height: 150%;
  }
}

@media (min-width: 1440px) {
  .bg-image {
    min-height: 800px;
  }
}

.button {
  background-color: #ffffff;
  margin-top: 48px;
  width: 146px;
  border-radius: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 9px 8px 21px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .button {
    margin-top: 80px;
  }
}

@media (min-width: 1440px) {
  .button {
    margin-bottom: 8px;
  }
}

.button p {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #999999;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.button .circle {
  width: 40px;
  height: 40px;
  background: #303030;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
}

.button .circle .arrow {
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  margin-bottom: 2px;
}

.button .circle .arrow.active {
  transform: rotate(225deg);
}

.button:hover .circle {
  background: #999;
}

body {
  height: 100vh;
  overflow-x: hidden;
  padding: 0 24px 0 24px;
}

.random-quote-text {
  margin-top: 32px;
  display: flex;
  align-items: flex-start;
  max-width: 573px;
}

@media (min-width: 768px) {
  .random-quote-text {
    margin-top: 80px;
  }
}

.random-quote-text img {
  cursor: pointer;
}

@media (min-width: 768px) {
  .random-quote-text img {
    margin-top: 9px;
  }
}

.random-quote-text p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #ffffff;
  letter-spacing: 0px;
}

@media (min-width: 768px) {
  .random-quote-text p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    letter-spacing: 0px;
  }
}

.random-quote-text #author {
  font-weight: 700;
  margin-top: 8px;
}

@media (min-width: 1440px) {
  .main-display {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.time-location-display {
  margin-top: 226px;
}

@media (min-width: 768px) {
  .time-location-display {
    margin-top: 388px;
  }
}

@media (min-width: 1440px) {
  .time-location-display {
    margin-top: 233px;
  }
}

.time-location-display p {
  color: #ffffff;
  text-transform: uppercase;
}

.time-location-display .greeting {
  display: flex;
  align-items: center;
}

.time-location-display .greeting img {
  margin-right: 16px;
}

.time-location-display .greeting p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  letter-spacing: 3px;
}

@media (min-width: 768px) {
  .time-location-display .greeting p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    letter-spacing: 3.6px;
  }
}

@media (min-width: 1440px) {
  .time-location-display .greeting p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
    letter-spacing: 4px;
  }
}

.time-location-display .greeting #text-addition {
  display: none;
}

@media (min-width: 768px) {
  .time-location-display .greeting #text-addition {
    display: inline;
  }
}

.time-location-display .time {
  display: flex;
  align-items: flex-end;
}

.time-location-display .time h1 {
  margin-right: 13px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: #ffffff;
  letter-spacing: -2.5px;
}

@media (min-width: 768px) {
  .time-location-display .time h1 {
    margin-right: 11px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 175px;
    line-height: 175px;
    color: #ffffff;
    letter-spacing: -4.375px;
  }
}

@media (min-width: 1440px) {
  .time-location-display .time h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 200px;
    line-height: 200px;
    color: #ffffff;
    letter-spacing: -5px;
  }
}

.time-location-display .time p {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: #ffffff;
  letter-spacing: 0px;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .time-location-display .time p {
    margin-bottom: 21px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 28px;
    color: #ffffff;
    letter-spacing: 0px;
  }
}

@media (min-width: 1440px) {
  .time-location-display .time p {
    margin-bottom: 27px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 28px;
    color: #ffffff;
    letter-spacing: 0px;
  }
}

.time-location-display .location {
  margin-top: 16px;
  text-transform: uppercase;
}

.time-location-display .location p {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
  color: #ffffff;
  letter-spacing: 3px;
}

@media (min-width: 768px) {
  .time-location-display .location p {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    letter-spacing: 3.6px;
  }
}

@media (min-width: 1440px) {
  .time-location-display .location p {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    letter-spacing: 4.8px;
  }
}

@media (min-width: 768px) {
  .time-location-display .location {
    margin-top: 0px;
  }
}

@media (min-width: 1440px) {
  .time-location-display .location {
    margin-top: 16px;
  }
}
/*# sourceMappingURL=main.css.map */