@import 'reset';
body {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 24px 0 24px;
    @include tablet-screen {
        overflow-y: scroll;
        max-height: 1000px;
    }
}

.random-quote-text.active{
    display: none;
}

.random-quote-text {
    margin-top: 32px;
    display: flex;
    align-items: flex-start;
    max-width: 573px;
    @include tablet-screen {
        margin-top: 80px;
    }

    img{
        cursor: pointer;
        @include tablet-screen {
           margin-top: 9px;
        }
    }

    p {
        @include font(12px, 22px, 400, 0px, $white);

        @include tablet-screen {
            @include font(18px, 28px, 400, 0px, $white);
        }
    }

    #author {
        font-weight: 700;
        margin-top: 8px;
    }
}

.main-display {
    @include desktop-screen {
       display: flex;
       align-items: flex-end;
       justify-content: space-between;
    }
}

.time-location-display.active{
    margin-top: 99px;
    @include tablet-screen {
        margin-top: 153px;
    }
    @include desktop-screen {
        margin-top: 56px;
    }
}
.time-location-display {
    margin-top: 226px;
    @include tablet-screen {
        margin-top: 388px;
    }
    @include desktop-screen {
        margin-top: 233px;
    }
    p {
        color: $white;
        text-transform: uppercase;
    }

    .greeting {
        display: flex;
        align-items: center;

        img {
            margin-right: 16px;
        }

        p {
            @include font(15px, 25px, 400, 3px, $white);
            @include tablet-screen {
                @include font(18px, 28px, 400, 3.6px, $white);
            }
            @include desktop-screen {
                @include font(20px, 28px, 400, 4px, $white);
            }
        }
        
        #text-addition{
            display: none;
            @include tablet-screen {
                display: inline;
            }
        }
    }

    .time {

        display: flex;
        align-items: flex-end;

        h1 {
            margin-right: 13px; 
            @include font(100px, 100px, 700, -2.5px, $white);
            @include tablet-screen {
                margin-right: 11px; 
                @include font(175px, 175px, 700, -4.375px, $white);
            }
            @include desktop-screen {
                @include font(200px, 200px, 700, -5px, $white);
            }
        }

        p {
            @include font(15px, 28px, 300, 0px, $white);
            margin-bottom: 5px;

            @include tablet-screen {
                margin-bottom: 21px;
                @include font(32px, 28px, 300, 0px, $white);
            }
            @include desktop-screen {
                margin-bottom: 27px;
                @include font(40px, 28px, 300, 0px, $white);
            }

        }

    }

    .location {
        margin-top: 16px;
        text-transform: uppercase;

        @include tablet-screen {
            margin-top: 0px;
        }
        @include desktop-screen {
            margin-top: 16px;
        }

        p {
            @include font(15px, 28px, 700, 3px, $white);
            @include tablet-screen {
                @include font(18px, 28px, 700, 3.6px, $white);
            }
            @include desktop-screen {
                @include font(24px, 28px, 700, 4.8px, $white);
            }
        }

    }
}

.footer.active{
    left: 0px;
    @include tablet-screen {
        // top: 584px;
        // margin-top: -420px;
        // top: 100vh;
        margin-top: 80px;
    }
    @include desktop-screen {
        // top: 400px;
        // top: 100vh;
        // margin-top: -320px;
        margin-top: 0px;
    }
}

.footer {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(40.7742px);
    position: absolute;
    top: 100vh;
    margin-top: -255px;
    left: -9999px;
    width: 100vw;
    padding: 48px 26px 32px 26px;
    @include tablet-screen {
        padding: 119px 26px 103px 26px;
    }
    @include desktop-screen {
        padding: 74px 26px 74px 26px;
    }

    .mobile {
        @include tablet-screen {
            display: none;
        }
        @include desktop-screen {
            display: none;
        }

        .display-unit{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;

            .description-text{
                 @include font(10px, 28px, 400, 2px, $grey);
                 text-transform: uppercase;
            }
            .value-text{
                @include font(20px, 24px, 700, 0px, $grey);
           }
        }
    }
    .tablet {
        display: none;
        @include tablet-screen {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 48px 80px;
        }
        @include desktop-screen {
            display: none;
        }

        .display-unit{
            display: flex;
            flex-direction: column;

            .description-text{
                 @include font(13px, 28px, 400, 2.6px, $grey);
                 text-transform: uppercase;
            }
            .value-text{
                @include font(40px, 48px, 700, 0px, $grey);
           }
        }
    }
    .desktop {
        display: none;
        @include tablet-screen {
            display: none;
        }
        @include desktop-screen {
            display: flex;
        }

        .desktop-flex{
            margin-right: 147px;
        }

        .desktop-flex.border{
            border-left: 1px solid rgba(48, 48, 48, 0.25);
            padding-left: 94px;
        }

        .display-unit{
            display: flex;
            flex-direction: column;

            .description-text{
                 @include font(15px, 28px, 400, 3px, $grey);
                 text-transform: uppercase;
            }
            .value-text{
                @include font(56px, 68px, 700, 0px, $grey);
                margin-top: 9px;
           }
        }
        .display-unit.bottom{
            margin-top: 42px;
        }
    }
}






